h1{
    text-align: center;
    margin: 20px 0 10px 0;
}

.form-wrapper {
    max-width: 600px;
    margin: auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.form-group.coupon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.radio-group {
    display: flex;
}

.radio-group label {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.radio-group input {
    margin-right: 10px;
}

.imgAndPrev{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.image-preview {
    float: right;
    margin-top: 20px;
    text-align: center;
    z-index: 10;
}

.image-preview img {
    max-width: 500px;
    max-height: 50px;
    object-fit: contain;
}


button {
    padding: 10px;
    background-color: #6A64F1;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin: 5px 0;
}

.submit:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    border: 1px solid #999999;
  }

button:hover {
    background-color: #4F49C1;
}

button.add-more, button.remove {
    width: 48%;
    
}

button.add-more {
    background-color: #12700f;
}

button.remove {
    background-color: #9e1621;
}
