.app-background {
    background-image: url('../assets/couponcouzin.png');
    background-repeat: no-repeat;
    background-size: cover; /* or 'contain' depending on your preference */
    opacity: 0.1; /* Adjust the opacity as needed */
    pointer-events: none; /* This prevents the background from capturing interactions */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the background behind the content */
  }
  
.nav{
    display: flex;
    height: 50;
    background-color: white;
}
#mySideNav{
    padding-left: 20px;
    padding-right: 30px;
}
.logo img{
    height: 50px;
    width: auto;
    aspect-ratio: 4/2;
    object-fit: contain;
}
.admin{
    margin-left: 380px;
    margin-top: 5px;
}
.main-content{
   top: 20%;
   left: 5%;
   
}
.signout{
    padding-top: 5px;
    margin-left: 400px;
}
.signout button{
    border : none; 
}

@media (max-width: 1305px){
    .main-content{
        padding-left: 15%;
        padding-right: 5%;
        
     }
#mySideNav{
    padding-left: 15px;
    padding-right: 20px;
}
.logo img{
    height: 40px;
    width: auto;
    aspect-ratio: 4/2;
    object-fit: contain;
}
.admin{
    margin-left: 300px;
    margin-top: 5px;
}
.signout{
    padding-top: 5px;
    margin-left: 350px;
}
    
}

@media (max-width: 1225px){
    #mySideNav{
        padding-left: 10px;
        padding-right: 15px;
    }
    .logo img{
        height: 30px;
        width: auto;
        aspect-ratio: 4/2;
        object-fit: contain;
    }
    .admin{
        margin-left: 250px;
        margin-top: 5px;
    }
    .signout{
        padding-top: 5px;
        margin-left: 300px;
    }
}
@media (max-width: 1136px){
    .admin{
        margin-left: 200px;
        margin-top: 5px;
    }
    .signout{
        padding-top: 5px;
        margin-left: 250px;
    }
}
@media (max-width: 1086px){
    .admin{
        font-size: 16px;
        margin-left: 150px;
        margin-top: 5px;
    }
    .signout{
        padding-top: 5px;
        margin-left: 200px;
    }
}
@media (max-width: 790px){
    #mySideNav{
        padding-left: 5px;
        padding-right: 10px;
    }
    .admin{
        font-size: 13.28px;
        margin-left: 100px;
        margin-top: 5px;
    }
    .signout{
        padding-top: 5px;
        margin-left: 150px;
    }
}
@media (max-width: 675px){
    .admin{
        font-size: 13.28px;
        margin-left: 70px;
        margin-top: 5px;
    }
    .signout{
        padding-top: 5px;
        margin-left: 120px;
    }
}
@media (max-width: 607px){
    .admin{
        font-size: 10.72px;
        margin-left: 50px;
        margin-top: 5px;
    }
    .signout{
        padding-top: 5px;
        margin-left: 80px;
    }
}
@media (max-width: 547px){
    .admin{
        font-size: 10.72px;
        margin-left: 50px;
        margin-top: 5px;
    }
    .signout{
        padding-top: 5px;
        margin-left: 60px;
    }
}
@media (max-width: 520px){
    .admin{
        font-size: 7px;
        margin-left: 40px;
        margin-top: 5px;
    }
    .signout{
        padding-top: 5px;
        margin-left: 30px;
    }
}