<div class="container">
    <div class="card">
        <div class="card-body">
          <div class="circle">
            <span > {{totalWebsites}} </span>
          </div>
        </div>
        <div class="card-footer">
            <h4>All Companies</h4>
        </div>
      </div>

      <!-- <div class="card">
        <div class="card-body">
          <div class="circle">
            <span >{{newProduct}}</span>
          </div>
        </div>
        <div class="card-footer">
            <h4>New Products</h4>
        </div>
      </div> -->
   
      <div class="card">
        <div class="card-body">
          <div class="circle">
            <span > {{totalProduct}}</span>
          </div>
        </div>
        <div class="card-footer">
            <h4>Total Products</h4>
        </div>
      </div>
        
      <!-- <div class="card">
        <div class="card-body">
          <div class="circle">
            <span >{{newCoupon}}</span>
          </div>
        </div>
        <div class="card-footer">
            <h4>New Coupons</h4>
        </div>
      </div> -->

      <div class="card">
        <div class="card-body">
          <div class="circle">
            <span >{{totalCoupon}}</span>
          </div>
        </div>
        <div class="card-footer">
            <h4>Total Coupons</h4>
        </div>
      </div>
</div>