.container{
  width: fit-content;
}
.table{
    text-align: center;
    text-decoration: none;
    width: fit-content;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}